<h1>ADD a New Dino</h1>

<form action="/dinosaurs" method="POST">
    <label for="dinosaursType">Type</label>
    <input type="text" name="type" id="dinosaursType">

        <label for='dinosaursName'>Name</label>
        <input type="text" name='name' id='dinosaursName'>

    <input type="submit">
</form>